<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="/home">Sunrise Dental Clinic</a>
        <div class="navbar-nav">
            <a class="nav-link text-white" href="/home">Home</a>
            <a class="nav-link text-white" href="/appointments/new">Register</a>
            <a class="nav-link text-white" href="/appointments/search">Search</a>
            <a class="nav-link text-white" href="/bill">Bill</a>
            <a class="nav-link text-white" href="/appointments">All Appointments</a>
            <a class="nav-link text-white" href="/help">Help</a>
            <a class="nav-link text-white" href="/logout">Logout</a>
        </div>
    </div>
</nav>
</body>
</html>
